html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: antiquewhite ;
    font-family: 'Source Sans Pro', sans-serif;
}

.content {
    background-color: #fff;
    width: 375px;
    margin: 100px auto;
}

/* TYPOGRAPHY */
p {
    font-size: 13px;
}

.bold-text {
    font-weight: 700;
}

.user-full-name {
    margin: 0;
    font-weight: 700;
}

.user-location {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
}

.username-caption {
    text-align: left;
}

.likes {
    font-weight: 700;
    text-align: left;
 }
/* HEADER */

header {
    width: 375px;
    height: 70px;
    border-bottom: 2px solid #c6c6c6;
}

/* MAIN */

main {
    height: 545px;
}

#main {
    background-color: #fff;
}

.profile-bar {
    height: 50px;
    margin-top: 10px;
}

.text-box {
    display: block;
    float: left;
    margin-top: 10px;
}


/* PICTURES */

.logo {
    float: left;
    display: inline;
    width: 130px;
    height: 40px;
    margin: 15px 20px;
}

.avatar {
    float: right;
    display: inline;
    width: 35px;
    height: 35px;
    border-radius: 15px;
    margin: 15px 20px;
}

.profile-bar .avatar {
    float: left;
    margin-top: 5px;
}

#user-image {
    width: 375px;
    height: 375px;
}

/* SYMBOLS */

.symbols {
    margin-left: 10px;
}

.symbols-box {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    margin-top: 20px;
    width: 100px;
}

#like {
    width: 25px;
    background: none;
}

#like:hover {
    opacity: 0.5;
}

.comment {
    width: 25px;
}

.comment:hover {
    opacity: 0.5;
}

.share {
    width: 25px;
    background: none;
}

.share:hover {
    opacity: 0.5;
}

